.draft-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #0b1b24;
    color: #FCF6D9;

    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}


.draft-screen h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;

    color: #DDBA7D;
    margin-bottom: 10px;
}


.draft-screen p {
    text-align: center;
    opacity: 0.8;
    margin-bottom: 10px;
}

.complete-team {
    color: #DDBA7D;
    font-weight: bold;
}


.draft-content {
    flex: 1;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    gap: 30px;

    margin-top: 20px;
}


.field {
    position: relative;

    width: 100%;
    height: 650px;
    max-width: 600px;

    margin: 0 auto;

    border-radius: 16px;
    padding: 30px;

    overflow: hidden;

    border: 2px solid rgba(221, 186, 125, 0.18);

    background: repeating-linear-gradient(180deg,
            #0e4a25,
            #0e4a25 80px,
            #0c3f20 80px,
            #0c3f20 160px);

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}


.field::after {
    content: "";
    position: absolute;

    top: 50%;
    left: 0;

    width: 100%;
    height: 2px;

    background: rgba(252, 246, 217, 0.4);

    transform: translateY(-50%);
}


.field::before {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;

    width: 140px;
    height: 140px;

    transform: translate(-50%, -50%);

    border: 2px solid rgba(252, 246, 217, 0.25);
    border-radius: 50%;
}


.line {
    display: flex;
    justify-content: center;
    gap: 20px;

    position: relative;
    z-index: 2;
}

.pos {
    width: 90px;
    height: 70px;

    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(221, 186, 125, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    backdrop-filter: blur(4px);
}

.pos:hover {
    cursor: pointer;
}

.pos-overall {
    font-weight: bold;
    color: #DDBA7D;
}

.pos-name {
    font-size: 10px;
    opacity: 0.85;
}

.active-pos {
    outline: 2px solid #CF4B00;
    transform: scale(1.05);
    transition: 0.2s;
}

.panel-title {
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    color: #DDBA7D;

    margin-bottom: 10px;
    letter-spacing: 1px;
}

.empty-state {
    text-align: center;

    margin: 20px 0;
    padding: 15px;

    background: rgba(252, 246, 217, 0.04);
    border: 1px solid rgba(221, 186, 125, 0.15);
    border-radius: 12px;
}

.empty-title {
    font-weight: 700;
    color: #FCF6D9;
    margin-bottom: 6px;
}

.empty-subtitle {
    font-size: 12px;
    opacity: 0.8;
}

.player-list {
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(221, 186, 125, 0.25);
    border-radius: 16px;
    padding: 20px;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


.list {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
}

.item {
    padding: 10px;
    border-radius: 10px;

    background: rgba(252, 246, 217, 0.05);
    border: 1px solid rgba(221, 186, 125, 0.15);

    cursor: pointer;
    transition: 0.2s;
}

.item:hover {
    transform: scale(1.02);
    border-color: #CF4B00;
}

.item.selected {
    opacity: 0.3;
    text-decoration: line-through;
}

.pending {
    border: 1px solid #CF4B00;
    background: rgba(207, 75, 0, 0.2);
    transform: scale(1.03);
}

.button-draft {
    margin-top: 100px;

    background: #CF4B00;
    color: #FCF6D9;

    font-weight: 800;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 12px;

    cursor: pointer;

    transition: 0.2s;
}

.button-draft:hover {
    background: #e35600;
    transform: scale(1.03);
}


.team-summary {
    margin-top: 10px;
}

.team-summary h3 {
    font-size: 30px;
}

.team-summary p {
    margin-top: 50px;
    font-size: 30px;
}

.summary-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    align-self: stretch;
    font-size: 22px;
    opacity: 0.9;
}

.summary-list li {
    padding: 5px;
    background: rgba(252, 246, 217, 0.05);
    border: 1px solid rgba(221, 186, 125, 0.15);
    border-radius: 5px;
}

.player-list h2 {
    transition: 0.2s ease;
}

.rolling h2 {
    color: #CF4B00;
    transform: scale(1.05);
}

.player-list.locked {
    opacity: 0.85;
    filter: grayscale(0.4);
}

.player-list.locked .panel-title {
    opacity: 0.6;
}


.locked-item {
    opacity: 0.35;
    cursor: not-allowed;
}


.field.locked {
    filter: grayscale(0.3);
}

.drawing-p {
    margin-top: 20px;
    font-size: 26px;
    transition: all 0.3s ease;
    animation: pulse 1.5s infinite;
}

/*ESTILOS PRA PARTIDA*/

.match-mode .pos {
    opacity: 0;
    pointer-events: none;
}

.match-mode .pos-name {
    display: none;
}

.match-mode .pos-overall {
    display: none;
}

.match-panel {
    background: transparent;
    border: none;
    backdrop-filter: none;
}

.match-mode {
    position: relative;
    max-width: 900px;
    height: 80vh;
}

.match-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.match-overlay h1 {
    font-size: 70px;
}

.match-layout {
    grid-template-columns: 1fr;
}

.match-events {
    max-height: 300px;
    overflow-y: auto;
}


.group-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.group-table th,
.group-table td {
    padding: 8px;
    text-align: center;
}

.group-table th {
    background: rgba(255, 255, 255, 0.1);
    color: gold;
}

.group-table tr:last-child {
    border-bottom: none;
}

.group-table td:first-child,
.group-table th:first-child {
    text-align: left;
}


.group-table tbody tr:nth-child(1),
.group-table tbody tr:nth-child(2) {
    background: rgba(0, 255, 100, 0.08);
}

.goal-home {
    color: limegreen;
    font-weight: bold;
}

.goal-away {
    color: tomato;
    font-weight: bold;
}

.my-team-color {
    color: limegreen;

    font-weight: bold;
}

.away-team-color {
    color: tomato;

    font-weight: bold;
}

.penalty-score {
    font-size: 2.5rem;
    margin: 10px 0;
}


.penalty-event {
    margin: 5px 0;
    font-size: 0.9rem;
}

.match-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.side-by-side {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.team-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;


}

.event-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 10px;
}

.match-minute {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

.result-container {
    padding: 1.5rem;
    border-radius: 20px;
    box-sizing: border-box;
    width: 600px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}


.result-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.history-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin: 8px 0;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    transition: transform 0.2s;
}

.history-row:hover {
    background: rgba(255, 255, 255, 0.1);
}

.phase-tag {
    font-size: 0.8rem;
    color: #4cc9f0;
    font-weight: bold;
}

.match-finished-message {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    color: #ffd700;
    animation: fadeIn 0.5s;
}

@media (max-width: 900px) {

    .field {
        height: 90vh;
        max-width: 100%;
    }

    .draft-content {
        grid-template-columns: 1fr;
        gap: 16px;
    }


    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    .item {
        font-size: 12px;
        padding: 8px;
    }

    .line {
        flex-wrap: wrap;
        gap: 2px;
    }

    .field::before {
        width: 100px;
        height: 100px;
    }

    .pos {
        width: 50px;
        height: 50px;
        font-size: 15px;
    }

    .pos-overall {
        font-size: 10px;
    }

    .pos-name {
        font-size: 10px;
    }


    .result-container {
        width: 80%;
        padding: 1.5rem;
        margin: 10px auto;

    }

    .result-title {
        font-size: 1.5rem;

    }

    .history-row {
        font-size: 0.7rem;
        padding: 8px;
    }

    .match-overlay {
        font-size: small;
        max-height: 80vh;

    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.6;
        transform: translateY(0px);
    }

    50% {
        opacity: 1;
        transform: translateY(-2px);
    }

    100% {
        opacity: 0.6;
        transform: translateY(0px);
    }
}